version: "3.0"
services:
  nms:
    image: alkimiorg/nms:v1.2.5
    command: >
      bash -c
          "python manage.py makemigrations &&
          python manage.py migrate &&
          python manage.py collectstatic --noinput &&
          gunicorn --bind 0.0.0.0:8000 nms_project_settings.wsgi:application --access-logfile - &&
          python manage.py collectstatic --noinput "
          
    environment:
      - "NDATA1=E58YS7YHN8A5848Y5GC7SUAMNVFXJRZB"
      - "ENDPOINT1=https://validator-node-backend-qa-5ov53.ondigitalocean.app"
      - "BDATA2=63513a20-2020-454c-2020-5d202037200a"
      - "SEEDLIST_FILE=https://seedlist-details.s3.eu-west-2.amazonaws.com/qa/"
      - "ENDPOINT2=http://qa-nms-health-listener-env.eba-9xp3yujh.eu-west-2.elasticbeanstalk.com/alkimi/getToken"
      - "ENDPOINT3=http://qa-nms-health-listener-env.eba-9xp3yujh.eu-west-2.elasticbeanstalk.com/alkimi/produce-message"

      
    network_mode: "host"
    volumes:
      - ./app/databases:/home/ubuntu/nms_project/database
      - /app/static:/app/static
      - /home/ubuntu:/home/ubuntu
      - ./nms_logs:/app/nms_logs
      - /app/docker_pipes:/app/docker_pipes
